package es.caib.portafib.commons.utils;
/**
* Codi autogenerat a partir del fitxer StaticVersion.java.template.
*/
public interface StaticVersion {

    public static final String VERSION="@project.version@";

    public static final String PROJECT_NAME="portafib";

}