target
*\target\*
*\target\**
.classpath
.project
.settings/
dependency-reduced-pom.xml
test.log
genapp.log

plugins-signatureweb/miniappletutils/src/main/resources/applet/

back/src/main/webapp/img/fundaciobit-logo-cap.png
back/src/main/webapp/img/fundaciobit-logo-peu.png
lib/install_axis_jaxrpc_jar.bat
lib/install_axis_jaxrpc_jar.sh

scripts/bbdd/genappbase.sql
scripts/genapp/lastconfig.properties

local-repo/com/caucho/hessian/3.2.0/hessian-3.2.0.jar
local-repo/com/openlandsw/rss/gateway-api-comun/2.4.05/gateway-api-comun-2.4.05.jar
local-repo/com/openlandsw/rss/gateway-api/2.4.05/gateway-api-2.4.05.jar

logic/src/main/resources/genapp_ca.properties
logic/src/main/resources/genapp_es.properties
logic/src/main/resources/portafib_genapp_ca.properties
logic/src/main/resources/portafib_genapp_es.properties

back/src/main/resources/genapp_ca.properties
back/src/main/resources/genapp_es.properties
back/src/main/resources/logicmissatges_ca.properties
back/src/main/resources/logicmissatges_es.properties
back/src/main/resources/portafib_genapp_ca.properties
back/src/main/resources/portafib_genapp_es.properties

ws/portafib_api/src/main/resources/genapp_ca.properties
ws/portafib_api/src/main/resources/genapp_es.properties
ws/portafib_api/src/main/resources/logicmissatges_ca.properties
ws/portafib_api/src/main/resources/logicmissatges_es.properties
ws/portafib_api/src/main/resources/portafib_genapp_ca.properties
ws/portafib_api/src/main/resources/portafib_genapp_es.properties
/compil.bat
/all.bat
/plugins-signatureweb/afirma-triphase-server/src/main/resources/index.html
/plugins-signatureweb/compil.bat
/mvndeploy.bat
/plugins-signatureserver/miniappletinserver/NadalBennasarAntoniFNMT.p12
/plugins-signatureserver/miniappletinserver/hola.pdf
/plugins-signatureserver/miniappletinserver/hola_firmat.pdf
/plugins-signatureserver/miniappletinserver/test.properties
/plugins-signatureserver/miniappletutils/DNIe_firma.cer
/plugins-signatureserver/miniappletutils/cert.p12
/plugins-signatureserver/miniappletutils/cert.properties
/plugins-signatureserver/miniappletutils/hola.pdf
/plugins-signatureserver/miniappletutils/hola.pdf.xades_attached.xml
/plugins-signatureserver/miniappletutils/hola.pdf.xades_detached.xml
/plugins-signatureserver/miniappletutils/hola_firmat.pdf
/plugins-signatureserver/miniappletutils/src/main/resources/applet/miniapplet.jar
/plugins-signatureserver/miniappletutils/src/main/resources/applet/miniappletui.jar
/plugins-signatureserver/miniappletutils/test.properties
/local-repo/es/caib/portafib/plugin-signatureweb-miniappletui-signed/2.0.0/plugin-signatureweb-miniappletui-signed-1.0.0.pom
/local-repo/es/caib/portafib/plugin-signatureweb-miniappletui-signed/2.0.0/plugin-signatureweb-miniappletui-signed-1.0.0.jar
/plugins-signatureserver/exempleapp/sample.pdf.xades_attached.xml
/plugins-signatureserver/exempleapp/sample_signed.pdf
/plugins-signatureserver/afirmaserver/borrar/afirma5ServiceInvoker.properties
/plugins-signatureserver/afirmaserver/borrar/foto.jpg_cades_attached.csig
/plugins-signatureserver/afirmaserver/borrar/foto.jpg_cades_attached_ts.csig
/plugins-signatureserver/afirmaserver/borrar/foto.jpg_cades_detached.csig
/plugins-signatureserver/afirmaserver/borrar/foto.jpg_smime_attached-ts.slc
/plugins-signatureserver/afirmaserver/borrar/foto.jpg_smime_attached.slc
/plugins-signatureserver/afirmaserver/borrar/hola_firmat.pdf
/plugins-signatureserver/afirmaserver/borrar/parserParameters.properties222
/plugins-signatureserver/afirmaserver/borrar/sample_cades_attached-ts_firmat.xml
/plugins-signatureserver/afirmaserver/borrar/sample_xades_attached_firmat.xml
/plugins-signatureserver/afirmaserver/borrar/sample_xades_detached_firmat.xml
/plugins-signatureserver/afirmaserver/borrar/test.properties
/plugins-signatureserver/afirmaserver/borrar/test.properties.sample
/plugins-signatureserver/afirmaserver/borrar/transformers.properties22
/plugins-signatureserver/afirmaserver/dubtes.txt
/plugins-signatureserver/afirmaserver/results/foto.jpg_cades_attached.csig
/plugins-signatureserver/afirmaserver/results/foto.jpg_cades_attached_ts.csig
/plugins-signatureserver/afirmaserver/results/foto.jpg_cades_detached.csig
/plugins-signatureserver/afirmaserver/results/foto.jpg_smime_attached.slc
/plugins-signatureserver/afirmaserver/results/foto.jpg_smime_attached_ts.slc
/plugins-signatureserver/afirmaserver/results/hola_firmat.pdf
/plugins-signatureserver/afirmaserver/results/sample_xades_attached_firmat.xml
/plugins-signatureserver/afirmaserver/results/sample_xades_attached_firmat_ts.xml
/plugins-signatureserver/afirmaserver/results/sample_xades_detached_firmat.xml
/plugins-signatureweb/clavefirma/primer_doc_firmat_amb_clave_firma_2016_11_11.pdf
/plugins-signatureweb/miniappletui/web/hola_amb_taula_0_firmat.pdf
/plugins-signatureweb/miniappletui/web/hola_amb_taula_1_firmat.pdf
/plugins-signatureweb/miniappletui/web/hola_amb_taula_2_firmat.pdf
/plugins-signatureweb/miniappletui/web/hola_amb_taula_3_firmat.pdf
/plugins-signatureweb/miniappletui/web/hola_amb_taula_4_firmat.pdf
/plugins-signatureserver/portafib/hola.pdf
/plugins-signatureserver/portafib/hola.pdf.cades_attached.csig
/plugins-signatureserver/portafib/hola.pdf.xades_attached.xml
/plugins-signatureserver/portafib/hola_firmat.pdf
/plugins-signatureserver/portafib/test.properties
/plugins-signatureserver/miniappletinserver/hola_OK.pdf
/plugins-signatureserver/miniappletinserver/hola_firmat_jks.pdf
/plugins-signatureserver/miniappletinserver/hola_firmat_p12.pdf
/plugins-signatureserver/miniappletinserver/portafib.pdf
/plugins-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadaljks/anadal.jks
/plugins-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadaljks/cert.properties
/plugins-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadalp12/anadal.p12
/plugins-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadalp12/cert.properties
/plugins-signatureweb/clavefirma/src/test/java/org/fundaciobit/signatureweb/clavefirma/TestListCertificates.java
/ws/portafib_api_example/src/main/java/es/caib/portafib/ws/v1/example/Reiniciar.java
/plugins-signatureserver/miniappletinserver/src/test/java/org/fundaciobit/plugins/signatureserver/miniappletinserver/test/NoCommitar.java
/plugins-signatureserver/exempleapp/src/main/java/org/fundaciobit/plugins/signatureserver/exempleapp/ExempleNoCommit.java
/plugins-signatureserver/SCAN_IECISA_PDFA.pdf
/ws/portafib_api_passarela_servidor/setpath.bat
/plugins-signatureweb/clavefirma/primer_doc_firmat_amb_clave_firma_1.1_2017_06_22.pdf
/plugins-signatureserver/afirmaserver/config/plugin.properties
/ws/portafib_server/src/main/java/es/caib/portafib/ws/utils/FitxerUtilsCommon.java
