target/
.classpath
.project
.settings/
*.iml
.idea/
Thumbs.db
dependency-reduced-pom.xml
test.log
genapp.log
compil.sh

plugins-signatureweb/miniappletutils/src/main/resources/applet/

back/src/main/webapp/img/fundaciobit-logo-cap.png
back/src/main/webapp/img/fundaciobit-logo-peu.png
lib/install_axis_jaxrpc_jar.bat
lib/install_axis_jaxrpc_jar.sh

scripts/bbdd/genappbase.sql
scripts/genapp/lastconfig.properties

local-repo/com/caucho/hessian/3.2.0/hessian-3.2.0.jar
local-repo/com/openlandsw/rss/gateway-api-comun/2.4.05/gateway-api-comun-2.4.05.jar
local-repo/com/openlandsw/rss/gateway-api/2.4.05/gateway-api-2.4.05.jar

ws/portafib_api/src/main/resources/genapp_ca.properties
ws/portafib_api/src/main/resources/genapp_es.properties
ws/portafib_api/src/main/resources/logicmissatges_ca.properties
ws/portafib_api/src/main/resources/logicmissatges_es.properties
ws/portafib_api/src/main/resources/portafib_genapp_ca.properties
ws/portafib_api/src/main/resources/portafib_genapp_es.properties
/compil.bat
/all.bat
/mvndeploy.bat
/local-repo/es/caib/portafib/plugin-signatureweb-miniappletui-signed/2.0.0/plugin-signatureweb-miniappletui-signed-1.0.0.pom
/local-repo/es/caib/portafib/plugin-signatureweb-miniappletui-signed/2.0.0/plugin-signatureweb-miniappletui-signed-1.0.0.jar
/ws/portafib_api_example/src/main/java/es/caib/portafib/ws/v1/example/Reiniciar.java
/ws/portafib_api_passarela_servidor/setpath.bat
/ws/portafib_server/src/main/java/es/caib/portafib/ws/utils/FitxerUtilsCommon.java
/dependencies.txt
/deps.bat
/hola.txt
/portafib - Còpia.genapp
/ws/portafib_api_example/signed_PeticioFirma_182180.pdf
/ws/portafib_api_passarela_servidor/setpath - Còpia.bat
/ws/portafib_api_passarela_servidor/test_firmat.pdf
/ws/portafib_api_passarela_web/setpath.bat
/ws/portafib_api_passarela_servidor/src/main/resources/genapp_ca.properties
/ws/portafib_api_passarela_servidor/src/main/resources/genapp_es.properties
/ws/portafib_api_passarela_servidor/src/main/resources/logicmissatges_ca.properties
/ws/portafib_api_passarela_servidor/src/main/resources/logicmissatges_es.properties
/ws/portafib_api_passarela_servidor/src/main/resources/portafib_genapp_ca.properties
/ws/portafib_api_passarela_servidor/src/main/resources/portafib_genapp_es.properties
/ws/portafib_api_passarela_web/src/main/resources/genapp_ca.properties
/ws/portafib_api_passarela_web/src/main/resources/genapp_es.properties
/ws/portafib_api_passarela_web/src/main/resources/logicmissatges_ca.properties
/ws/portafib_api_passarela_web/src/main/resources/logicmissatges_es.properties
/ws/portafib_api_passarela_web/src/main/resources/portafib_genapp_ca.properties
/ws/portafib_api_passarela_web/src/main/resources/portafib_genapp_es.properties
/ws/portafib_api_example/src/main/java/es/caib/portafib/ws/v1/example/ExempleEsborrar.java
/doc/PluginAutofirma_i_ClientMòbil.odt
/doc/PluginsFirmaWeb.odp
/doc/ProblemaSIAApache.odt
/compil2.bat
/apifirmasimple/apifirmawebsimple/signed_hola.pdf
/back/src/main/webapp/WEB-INF/jsp/admin
/back/src/main/webapp/WEB-INF/jsp/user
/apifirmasimple/apifirmasimple/BIG_19_Firmat.pdf
/apifirmasimple/apifirmasimple/TEST_1_sense_politica_de_firma.VALIDACIO.txt
/apifirmasimple/apifirmasimple/TEST_1_sense_politica_de_firma.pdf
/apifirmasimple/apifirmasimple/TEST_2_amb_politica_de_firma_AGE_1.9.VALIDACIO.txt
/apifirmasimple/apifirmasimple/TEST_2_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TEST_3_ALGO384_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TEST_4_SegellTemps_ALGO384_amb_politica_de_firma_AGE_1.9.VALIDATE.txt
/apifirmasimple/apifirmasimple/TEST_4_SegellTemps_ALGO384_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TEST_5_TaulaFirmesPagina1_ALGO384_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA1.VALIDACION.txt
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA1.pdf
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA256.VALIDACION.txt
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA256.pdf
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA256_other_validation.png
/apifirmasimple/apifirmasimple/hola-signed-upgraded.pdf
/apifirmasimple/apifirmasimple/hola-signed-upgraded_NO_RETORNA__BASE64.pdf
/apifirmasimple/apifirmasimple/hola.pdf
/apifirmasimple/apifirmasimple/signed_adaptat.pdf
/apifirmasimple/apifirmasimple/signed_hola.pdf
/apifirmasimple/apifirmasimple/results
/apifirmasimple/apifirmasimple/CAID_MADRID
/apifirmasimple/apifirmasimple/src/test/java/org/fundaciobit/apifirmasimple/v1/test/Esborrar.java
/apifirmasimple/apifirmasimple/apifirmaenservidorsimple.properties
/apifirmasimple/apifirmasimple/apifirmawebsimple.properties
/configgithub.bat
/back/src/main/java/es/caib/portafib/back/controller/admin/AdminController.java
/back/src/main/java/es/caib/portafib/back/controller/admin/MenuAdmin209Controller.java
/back/src/main/java/es/caib/portafib/back/controller/common/CommonController.java
/back/src/main/webapp/WEB-INF/jsp/common/option.jsp
/back/src/main/webapp/WEB-INF/jsp/moduls/menu_admin.jsp
/back/src/main/webapp/WEB-INF/jsp/moduls/menu_user.jsp
/apifirmasimple/apifirmasimple-example-console/apifirmaenservidorsimple.properties
/apifirmasimple/apifirmasimple-example-console/apifirmawebsimple.properties
/apifirmasimple/apifirmasimple-example-console/apifirmawebsimpleselenium.properties
/apifirmasimple/apifirmasimple-example-console/results
/apifirmasimple/apifirmasimple-example-console/signed_hola.pdf
/apifirmasimple/apifirmasimple-example-console/signed_adaptat.pdf
/apifirmasimple/apifirmasimple-example-console/src/test/java/org/fundaciobit/apisib/apifirmasimple/v1/test/Esborrar.java
/apifirmasimple/apifirmasimple-example-war/compil.bat
/apifirmasimple/apifirmasimple-example-war/deps.txt
/apifirmasimple/compil.bat
/back/src/main/webapp/img/image209.jsp
/apifirmasimple/apifirmasimple-example-console/signed_adaptat.csig
/apifirmasimple/apifirmasimple-example-console/signed_adaptat.xml
/apifirmasimple/apifirmasimple-example-console/1_signed_hola.pdf
/apifirmasimple/apifirmasimple-example-console/2_signed_hola_3mb.pdf
/logic/src/test/resources/fonts/OpenSans-Regular.ttf
/logic/OpenSans-Regular.ttf
/logic/pdf_a1a.pdf
/logic/pdf_a3a.pdf
/logic/sRGB_CS_profile.icm
/dozip.bat
/apifirmaasyncsimple/apifirmaasyncsimple-example/apifirmaasyncsimple.properties
/apifirmaasyncsimple/compil.bat
/logic/foto.jpg
/logic/hola.pdf
/logic/hola_with_attach.pdf
/logic/testfiles
/logic/tmpfiles
/logic/src/test/java/es/caib/portafib/logic/utils/AttachFileToPDF.java
/ws/portafib_externalsignature_rest_jersey/apiexternalsignature.properties
/dev.bat
/caib.bat
/ws/portafib_api/src/main/resources/genapp_en.properties
/ws/portafib_api/src/main/resources/logicmissatges_en.properties
/ws/portafib_api/src/main/resources/portafib_genapp_en.properties
/ws/portafib_api_passarela_servidor/src/main/resources/genapp_en.properties
/ws/portafib_api_passarela_servidor/src/main/resources/logicmissatges_en.properties
/ws/portafib_api_passarela_servidor/src/main/resources/portafib_genapp_en.properties
/ws/portafib_api_passarela_web/src/main/resources/genapp_en.properties
/ws/portafib_api_passarela_web/src/main/resources/logicmissatges_en.properties
/ws/portafib_api_passarela_web/src/main/resources/portafib_genapp_en.properties
/back/src/main/resources/genapp_en.properties
/back/src/main/resources/logicmissatges_en.properties
/back/src/main/resources/portafib_genapp_en.properties
/logic/src/main/resources/genapp_en.properties
/logic/src/main/resources/portafib_genapp_en.properties
/apiplantillafluxsimple/apiplantillafluxsimple-example/apiflowtemplatesimple.properties
/apiplantillafluxsimple/apiplantillafluxsimple-example/src/test/java/org/fundaciobit/apisib/apifirmaasyncsimple/v2/test/Esborrar.java
/back/src/main/webapp/img/fundaciobit.jpg
/back/src/main/webapp/img/dgidt.jpg
/apifirmasimple/apifirmaasyncsimple-example-web/z_esborrar
/apifirmasimple/apifirmaasyncsimple-example-web/apifirmasimple.properties
/apifirmasimple/apifirmaasyncsimple-example-web/compile.bat
/apiplantillafluxsimple/compil.bat
/apifirmasimple/apifirmasimple-example-web/apifirmasimple.properties
/apifirmasimple/apifirmasimple-example-web/compile.bat
/apifirmasimple/z_esborrar
/VIDEOS
/portafib-it/secret.properties
/portafib-it/keystore-sia.p12
/portafib-it/keystore.p12
/utils
/ejb_original
/jpa
/persistence_manager
/utils_ESBORRAR
/scripts/sqlgenerator/create_schema.sql
/scripts/sqlgenerator/drop_schema.sql
/scripts/sqlgenerator/01_sequences.sql
/scripts/sqlgenerator/02_tables.sql
/scripts/sqlgenerator/03_constraints.sql
/scripts/sqlgenerator/04_indexes.sql
/scripts/sqlgenerator/06_grants.sql
/back.bat
/compil22.bat
/config.bat
/deps2.bat
/installCerts.bat
/jaxbdeps.bat
/portafib21.bat
/ws/portafib_api_example/test.properties
/back3.bat
/commons/src/main/java/es/caib/portafib/commons/utils/RootWs.java
/api-interna-client/.github
/api-interna-client/.openapi-generator
/api-interna-client/.settings
/api-interna-client/gradle
/api-interna-client/.classpath
/api-interna-client/.openapi-generator-ignore
/api-interna-client/.project
/api-interna-client/.travis.yml
/api-interna-client/build.gradle
/api-interna-client/build.sbt
/api-interna-client/git_push.sh
/api-interna-client/gradle.properties
/api-interna-client/gradlew
/api-interna-client/gradlew.bat
/api-interna-client/README.md
/api-interna-client/settings.gradle
/api-interna-client/test.properties
