target/
.classpath
.project
.settings/
*.iml
.idea/
Thumbs.db
dependency-reduced-pom.xml
test.log
genapp.log
compil.sh

plugins-signatureweb/miniappletutils/src/main/resources/applet/

back/src/main/webapp/img/fundaciobit-logo-cap.png
back/src/main/webapp/img/fundaciobit-logo-peu.png
lib/install_axis_jaxrpc_jar.bat
lib/install_axis_jaxrpc_jar.sh

scripts/bbdd/genappbase.sql
scripts/genapp/lastconfig.properties

local-repo/com/caucho/hessian/3.2.0/hessian-3.2.0.jar
local-repo/com/openlandsw/rss/gateway-api-comun/2.4.05/gateway-api-comun-2.4.05.jar
local-repo/com/openlandsw/rss/gateway-api/2.4.05/gateway-api-2.4.05.jar

logic/src/main/resources/genapp_ca.properties
logic/src/main/resources/genapp_es.properties
logic/src/main/resources/portafib_genapp_ca.properties
logic/src/main/resources/portafib_genapp_es.properties

back/src/main/resources/genapp_ca.properties
back/src/main/resources/genapp_es.properties
back/src/main/resources/logicmissatges_ca.properties
back/src/main/resources/logicmissatges_es.properties
back/src/main/resources/portafib_genapp_ca.properties
back/src/main/resources/portafib_genapp_es.properties

ws/portafib_api/src/main/resources/genapp_ca.properties
ws/portafib_api/src/main/resources/genapp_es.properties
ws/portafib_api/src/main/resources/logicmissatges_ca.properties
ws/portafib_api/src/main/resources/logicmissatges_es.properties
ws/portafib_api/src/main/resources/portafib_genapp_ca.properties
ws/portafib_api/src/main/resources/portafib_genapp_es.properties
/compil.bat
/all.bat
/pluginsib-signatureweb/afirma-triphase-server/src/main/resources/index.html
/pluginsib-signatureweb/compil.bat
/mvndeploy.bat
/pluginsib-signatureserver/miniappletinserver/NadalBennasarAntoniFNMT.p12
/pluginsib-signatureserver/miniappletinserver/hola.pdf
/pluginsib-signatureserver/miniappletinserver/hola_firmat.pdf
/pluginsib-signatureserver/miniappletinserver/test.properties
/pluginsib-signatureserver/miniappletutils/DNIe_firma.cer
/pluginsib-signatureserver/miniappletutils/cert.p12
/pluginsib-signatureserver/miniappletutils/cert.properties
/pluginsib-signatureserver/miniappletutils/hola.pdf
/pluginsib-signatureserver/miniappletutils/hola.pdf.xades_attached.xml
/pluginsib-signatureserver/miniappletutils/hola.pdf.xades_detached.xml
/pluginsib-signatureserver/miniappletutils/hola_firmat.pdf
/pluginsib-signatureserver/miniappletutils/src/main/resources/applet/miniapplet.jar
/pluginsib-signatureserver/miniappletutils/src/main/resources/applet/miniappletui.jar
/pluginsib-signatureserver/miniappletutils/test.properties
/local-repo/es/caib/portafib/plugin-signatureweb-miniappletui-signed/2.0.0/plugin-signatureweb-miniappletui-signed-1.0.0.pom
/local-repo/es/caib/portafib/plugin-signatureweb-miniappletui-signed/2.0.0/plugin-signatureweb-miniappletui-signed-1.0.0.jar
/pluginsib-signatureserver/exempleapp/sample.pdf.xades_attached.xml
/pluginsib-signatureserver/exempleapp/sample_signed.pdf
/pluginsib-signatureserver/afirmaserver/borrar/afirma5ServiceInvoker.properties
/pluginsib-signatureserver/afirmaserver/borrar/foto.jpg_cades_attached.csig
/pluginsib-signatureserver/afirmaserver/borrar/foto.jpg_cades_attached_ts.csig
/pluginsib-signatureserver/afirmaserver/borrar/foto.jpg_cades_detached.csig
/pluginsib-signatureserver/afirmaserver/borrar/foto.jpg_smime_attached-ts.slc
/pluginsib-signatureserver/afirmaserver/borrar/foto.jpg_smime_attached.slc
/pluginsib-signatureserver/afirmaserver/borrar/hola_firmat.pdf
/pluginsib-signatureserver/afirmaserver/borrar/parserParameters.properties222
/pluginsib-signatureserver/afirmaserver/borrar/sample_cades_attached-ts_firmat.xml
/pluginsib-signatureserver/afirmaserver/borrar/sample_xades_attached_firmat.xml
/pluginsib-signatureserver/afirmaserver/borrar/sample_xades_detached_firmat.xml
/pluginsib-signatureserver/afirmaserver/borrar/test.properties
/pluginsib-signatureserver/afirmaserver/borrar/test.properties.sample
/pluginsib-signatureserver/afirmaserver/borrar/transformers.properties22
/pluginsib-signatureserver/afirmaserver/dubtes.txt
/pluginsib-signatureserver/afirmaserver/results/foto.jpg_cades_attached.csig
/pluginsib-signatureserver/afirmaserver/results/foto.jpg_cades_attached_ts.csig
/pluginsib-signatureserver/afirmaserver/results/foto.jpg_cades_detached.csig
/pluginsib-signatureserver/afirmaserver/results/foto.jpg_smime_attached.slc
/pluginsib-signatureserver/afirmaserver/results/foto.jpg_smime_attached_ts.slc
/pluginsib-signatureserver/afirmaserver/results/hola_firmat.pdf
/pluginsib-signatureserver/afirmaserver/results/sample_xades_attached_firmat.xml
/pluginsib-signatureserver/afirmaserver/results/sample_xades_attached_firmat_ts.xml
/pluginsib-signatureserver/afirmaserver/results/sample_xades_detached_firmat.xml
/pluginsib-signatureweb/clavefirma/primer_doc_firmat_amb_clave_firma_2016_11_11.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_0_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_1_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_2_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_3_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_4_firmat.pdf
/pluginsib-signatureserver/portafib/hola.pdf
/pluginsib-signatureserver/portafib/hola.pdf.cades_attached.csig
/pluginsib-signatureserver/portafib/hola.pdf.xades_attached.xml
/pluginsib-signatureserver/portafib/hola_firmat.pdf
/pluginsib-signatureserver/portafib/test.properties
/pluginsib-signatureserver/miniappletinserver/hola_OK.pdf
/pluginsib-signatureserver/miniappletinserver/hola_firmat_jks.pdf
/pluginsib-signatureserver/miniappletinserver/hola_firmat_p12.pdf
/pluginsib-signatureserver/miniappletinserver/portafib.pdf
/pluginsib-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadaljks/anadal.jks
/pluginsib-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadaljks/cert.properties
/pluginsib-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadalp12/anadal.p12
/pluginsib-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER/anadalp12/cert.properties
/pluginsib-signatureweb/clavefirma/src/test/java/org/fundaciobit/signatureweb/clavefirma/TestListCertificates.java
/ws/portafib_api_example/src/main/java/es/caib/portafib/ws/v1/example/Reiniciar.java
/pluginsib-signatureserver/miniappletinserver/src/test/java/org/fundaciobit/plugins/signatureserver/miniappletinserver/test/NoCommitar.java
/pluginsib-signatureserver/exempleapp/src/main/java/org/fundaciobit/plugins/signatureserver/exempleapp/ExempleNoCommit.java
/pluginsib-signatureserver/SCAN_IECISA_PDFA.pdf
/ws/portafib_api_passarela_servidor/setpath.bat
/pluginsib-signatureweb/clavefirma/primer_doc_firmat_amb_clave_firma_1.1_2017_06_22.pdf
/pluginsib-signatureserver/afirmaserver/config/plugin.properties
/ws/portafib_server/src/main/java/es/caib/portafib/ws/utils/FitxerUtilsCommon.java
/pluginsib-signatureserver/afirmaserver/setpath.bat
/dependencies.txt
/deps.bat
/hola.txt
/pluginsib-signatureserver/afirmaserver/afirma_integra_facade_XML_bug.png
/pluginsib-signatureserver/afirmaserver/afirma_integra_traduccions.png
/pluginsib-signatureserver/afirmaserver/config/plugin.properties.caib
/pluginsib-signatureserver/afirmaserver/results/foto.jpg_cades_detached_ts.csig
/pluginsib-signatureserver/exempleapp/sample_signed_nocommit.pdf
/pluginsib-signatureserver/miniappletinserver/foto.jpg
/pluginsib-signatureserver/miniappletinserver/hola_firmat_jks_username_null.pdf
/pluginsib-signatureserver/miniappletinserver/run.bat
/pluginsib-signatureweb/novaversio.bat
/portafib - Còpia.genapp
/ws/portafib_api_example/signed_PeticioFirma_182180.pdf
/ws/portafib_api_passarela_servidor/setpath - Còpia.bat
/ws/portafib_api_passarela_servidor/test_firmat.pdf
/ws/portafib_api_passarela_web/setpath.bat
/ws/portafib_api_passarela_servidor/src/main/resources/genapp_ca.properties
/ws/portafib_api_passarela_servidor/src/main/resources/genapp_es.properties
/ws/portafib_api_passarela_servidor/src/main/resources/logicmissatges_ca.properties
/ws/portafib_api_passarela_servidor/src/main/resources/logicmissatges_es.properties
/ws/portafib_api_passarela_servidor/src/main/resources/portafib_genapp_ca.properties
/ws/portafib_api_passarela_servidor/src/main/resources/portafib_genapp_es.properties
/ws/portafib_api_passarela_web/src/main/resources/genapp_ca.properties
/ws/portafib_api_passarela_web/src/main/resources/genapp_es.properties
/ws/portafib_api_passarela_web/src/main/resources/logicmissatges_ca.properties
/ws/portafib_api_passarela_web/src/main/resources/logicmissatges_es.properties
/ws/portafib_api_passarela_web/src/main/resources/portafib_genapp_ca.properties
/ws/portafib_api_passarela_web/src/main/resources/portafib_genapp_es.properties
/pluginsib-signatureweb/fire/exemples_de_firma
/pluginsib-signatureweb/fire/doc/clavefirma_doc
/pluginsib-signatureserver/afirmaserver/results/hola_firmat_ts.pdf
/ws/portafib_api_example/src/main/java/es/caib/portafib/ws/v1/example/ExempleEsborrar.java
/pluginsib-signatureserver/afirmaserver/config/plugin.properties.fundaciobit
/pluginsib-signatureweb/afirma-crypto-pdf/afirma-crypto-pdf-3.3.2-SNAPSHOT.jar
/doc/PluginAutofirma_i_ClientMòbil.odt
/doc/PluginsFirmaWeb.odp
/doc/ProblemaSIAApache.odt
/compil2.bat
/pluginsib-signatureserver/afirmaserver/config/plugin_afirmaserver_regweb3.properties
/apifirmasimple/apifirmawebsimple/signed_hola.pdf
/pluginsib-signatureserver/afirmalibs/AFIRMALIBS_CERTS/anadaljks/anadal.jks
/pluginsib-signatureserver/afirmalibs/AFIRMALIBS_CERTS/anadaljks/cert.properties
/pluginsib-signatureserver/afirmalibs/AFIRMALIBS_CERTS/anadalp12/anadal.p12
/pluginsib-signatureserver/afirmalibs/AFIRMALIBS_CERTS/anadalp12/cert.properties
/pluginsib-signatureserver/afirmalibs/run.bat
/pluginsib-signatureserver/afirmaserver/hola_upgraded.pdf
/back/src/main/webapp/WEB-INF/jsp/admin
/back/src/main/webapp/WEB-INF/jsp/user
/pluginsib-signatureserver/afirmaserver/results_old
/pluginsib-signatureserver/afirmaserver/results
/pluginsib-signatureserver/afirmalibs/2018_06_20_hola_segell_temps.pdf
/pluginsib-signatureserver/afirmalibs/hola_segell_temps.pdf
/pluginsib-signatureserver/afirmalibs/hola_segell_temps2.pdf
/pluginsib-signatureserver/afirmalibs/hola_segell_temps3.pdf
/pluginsib-signatureserver/afirmalibs/hola_segell_tempsLTV.pdf
/pluginsib-signatureserver/afirmalibs/hola_segell_tempsX.pdf
/pluginsib-signatureserver/afirmalibs/hola_segell_temps_ONLY_DOC.pdf
/apifirmasimple/apifirmasimple/BIG_19_Firmat.pdf
/apifirmasimple/apifirmasimple/TEST_1_sense_politica_de_firma.VALIDACIO.txt
/apifirmasimple/apifirmasimple/TEST_1_sense_politica_de_firma.pdf
/apifirmasimple/apifirmasimple/TEST_2_amb_politica_de_firma_AGE_1.9.VALIDACIO.txt
/apifirmasimple/apifirmasimple/TEST_2_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TEST_3_ALGO384_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TEST_4_SegellTemps_ALGO384_amb_politica_de_firma_AGE_1.9.VALIDATE.txt
/apifirmasimple/apifirmasimple/TEST_4_SegellTemps_ALGO384_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TEST_5_TaulaFirmesPagina1_ALGO384_amb_politica_de_firma_AGE_1.9.pdf
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA1.VALIDACION.txt
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA1.pdf
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA256.VALIDACION.txt
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA256.pdf
/apifirmasimple/apifirmasimple/TIQUET_MADRID/hola_signed_SHA256_other_validation.png
/apifirmasimple/apifirmasimple/hola-signed-upgraded.pdf
/apifirmasimple/apifirmasimple/hola-signed-upgraded_NO_RETORNA__BASE64.pdf
/apifirmasimple/apifirmasimple/hola.pdf
/apifirmasimple/apifirmasimple/signed_adaptat.pdf
/apifirmasimple/apifirmasimple/signed_hola.pdf
/pluginsib-signatureserver/afirmaserver/PADES_LTV.pdf
/pluginsib-signatureserver/afirmaserver/foto.jpg_cades_LTA_attached.csig
/pluginsib-signatureserver/afirmaserver/foto.jpg_cades_T_attached.csig
/pluginsib-signatureserver/afirmaserver/justificant_registre3.pdf
/apifirmasimple/apifirmasimple/results
/apifirmasimple/apifirmasimple/CAID_MADRID
/apifirmasimple/apifirmasimple/src/test/java/org/fundaciobit/apifirmasimple/v1/test/Esborrar.java
/pluginsib-signatureserver/afirmaserver/example.log
/apifirmasimple/apifirmasimple/apifirmaenservidorsimple.properties
/apifirmasimple/apifirmasimple/apifirmawebsimple.properties
/pluginsib-signaturesimple/apifirmasimple/results
/pluginsib-signatureweb/fire/exemples_de_firma
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_4_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_0_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_1_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_2_firmat.pdf
/pluginsib-signatureweb/miniappletui/web/hola_amb_taula_3_firmat.pdf
/pluginsib-signatureweb/fire/doc/clavefirma_doc
/pluginsib-signatureserver/afirmaserver/results_old
/pluginsib-signatureserver/afirmaserver/results
/pluginsib-signatureserver/miniappletinserver/SERVER_MINIAPPLETINSERVER
/pluginsib-signatureserver/miniappletinserver/hola.pdf
/pluginsib-signatureserver/miniappletinserver/hola_firmat_jks.pdf
/pluginsib-signatureserver/miniappletinserver/hola_firmat_jks_username_null.pdf
/pluginsib-signatureserver/miniappletinserver/hola_firmat_p12.pdf
/pluginsib-signatureserver/miniappletinserver/hola_OK.pdf
/pluginsib-signatureserver/miniappletinserver/portafib.pdf
/pluginsib-signatureserver/miniappletinserver/run.bat
/pluginsib-signatureserver/miniappletinserver/test.properties
/pluginsib-signatureserver/miniappletinserver/foto.jpg
/pluginsib-signatureserver/afirmalibs/AFIRMALIBS_CERTS/anadaljks/cert.properties
/pluginsib-signatureserver/afirmalibs/AFIRMALIBS_CERTS/anadaljks/anadal.jks
/pluginsib-signatureserver/miniappletutils/src/main/resources/applet/miniapplet.jar
/pluginsib-signatureweb/miniappletutils/src/main/resources/applet/miniappletui.jar
/pluginsib-signatureweb/compil.bat
/pluginsib-signatureweb/miniappletinserversia/libsAPI_gateway_2.4.05.zip
/pluginsib-signatureweb/miniappletinserversia/hola.pdf
/pluginsib-signatureweb/miniappletinserversia/hola_firmat - Còpia.pdf
/pluginsib-signatureweb/miniappletinserversia/hola_firmat.pdf
/pluginsib-signatureweb/miniappletinserversia/ibsalut.p12
/pluginsib-signatureweb/miniappletinserver/NadalBennasarAntoniFNMT.p12
/pluginsib-signatureweb/miniappletinserver/hola.pdf
/pluginsib-signatureweb/miniappletinserver/hola_firmat.pdf
/pluginsib-signaturesimple/apifirmasimple/signed_hola.pdf
/pluginsib-signaturesimple/apifirmasimple/apifirmaenservidorsimple.properties
/pluginsib-signaturesimple/apifirmasimple/apifirmawebsimple.properties
/pluginsib-signaturesimple/apifirmasimple/signed_adaptat.pdf
/configgithub.bat
/pluginsib-signaturesimple/compil.bat
/pluginsib-signaturesimple/exempleapifirmasimple-war/compil.bat
/pluginsib-signatureweb/miniappletinserversia/test.properties
/pluginsib-signatureweb/miniappletutils/DNIe_firma.cer
/pluginsib-signatureweb/miniappletui/FIRMAT.pdf
/pluginsib-signatureweb/miniappletui/afirma.keystore
/pluginsib-signatureweb/fnmtcloud/2018-10-25 Firma.pdf
/pluginsib-signatureweb/fnmtcloud/doc/sp_minimalist_rp_v1.2-fnmt
/pluginsib-signatureweb/fnmtcloud/doc/cridada_exemple.txt
/pluginsib-signatureweb/fnmtcloud/doc/dades_demo.txt
/pluginsib-signatureweb/fnmtcloud/doc/Kit-Bienvenida-eIDAS-Ceres-v1.0.3.zip
/pluginsib-signatureweb/fnmtcloud/doc/sp_minimalist_rp_v1.2-fnmt.zip
/pluginsib-signatureweb/fnmtcloud/config/test.properties
/pluginsib-signatureweb/fnmtcloud/2018-10-29 PortaFIB - PAdES - EPES.pdf
/back/src/main/java/es/caib/portafib/back/controller/admin/AdminController.java
/back/src/main/java/es/caib/portafib/back/controller/admin/MenuAdmin209Controller.java
/back/src/main/java/es/caib/portafib/back/controller/common/CommonController.java
/back/src/main/java/es/caib/portafib/back/controller/user/UserController.java
/back/src/main/webapp/WEB-INF/jsp/common/option.jsp
/back/src/main/webapp/WEB-INF/jsp/moduls/menu_admin.jsp
/back/src/main/webapp/WEB-INF/jsp/moduls/menu_user.jsp
/apifirmasimple/apifirmasimple-example-console/apifirmaenservidorsimple.properties
/apifirmasimple/apifirmasimple-example-console/apifirmawebsimple.properties
/apifirmasimple/apifirmasimple-example-console/results
/apifirmasimple/apifirmasimple-example-console/signed_hola.pdf
/apifirmasimple/apifirmasimple-example-console/signed_adaptat.pdf
/apifirmasimple/apifirmasimple-example-console/src/test/java/org/fundaciobit/apisib/apifirmasimple/v1/test/Esborrar.java
/apifirmasimple/apifirmasimple-example-war/compil.bat
/apifirmasimple/apifirmasimple-example-war/deps.txt
/apifirmasimple/compil.bat
/back/src/main/webapp/img/image209.jsp
/apifirmasimple/apifirmasimple-example-console/signed_adaptat.csig
/apifirmasimple/apifirmasimple-example-console/signed_adaptat.xml
/apifirmasimple/apifirmasimple-example-console/1_signed_hola.pdf
/apifirmasimple/apifirmasimple-example-console/2_signed_hola_3mb.pdf
/pluginsib-signatureweb/miniappletui/afirma.jks
/pluginsib-signatureweb/miniappletui/csr.csr
/logic/src/test/resources/fonts/OpenSans-Regular.ttf
/logic/OpenSans-Regular.ttf
/logic/pdf_a1a.pdf
/logic/pdf_a3a.pdf
/logic/sRGB_CS_profile.icm
/dozip.bat
