
#======================================
# Propietats de Configuració
#======================================

# Idioma dels errors no controlats per l'API
languageUI=ca

useiframe=false


#======================================
# Propietats de Comunicació
#======================================

basePath=http://HOST:PORT/portafibapi/interna
username=usrapp
password=pwd


#======================================
# Propietats de Firma Web
#======================================

# optional. Values true or false or null. Default null.
#RequiresTimeStampInSignature=true

PROFILE_PADES=PROFILE_PADES
PROFILE_XADES=PROFILE_XADES
PROFILE_CADES=PROFILE_CADES


files=1

#file.1.name=testfiles/BIG_72Mb.pdf
#file.1.mime=application/pdf

file.1.name=testfiles/hola.pdf
file.1.mime=application/pdf

file.2.name=testfiles/hola.pdf
file.2.mime=application/pdf




signer.username=sign_username
# NIF
signer.administrationid=00000000Z
signer.email=sign_email@ibit.org