basePath=http://www.portafib.es/portafibapi/interna
username=username
password=password


# Idioma dels errors no controlats per l'API
languageUI=ca


files=6
#files=1,2

file.1.name=hola_with_attach-signat.pdf_signed.pdf
file.1.mime=application/pdf

file.2.name=hola-signed-upgraded.pdf
file.2.mime=application/pdf

file.3.name=segell_cades_foto_jpg.csig
file.3.mime=application/pkcs7-signature

file.4.name=segell_xades_sample_xml.xsig
file.4.mime=application/xml

file.6.name=./testfiles/foto.jpg_cades_detached.csig
file.6.mime=application/pkcs7-signature
file.6.detached=./testfiles/foto.jpg

