/* Portafib CSS Template */

.disponible {
    display: block;
    visibility: visible;
}

.no-disponible {
    display: none;
    visibility: hidden;
}

.mainMenu .upper-right-corner {
    z-index: 9;
    float: right;
    padding-right: 9px;
}

.mainMenu .upper-left-corner {
    z-index: 9;
    float: left;
}

body {
    background-color: #eaeaea;
    font-size: 0.95rem;
}

.botoselecciolist {
    font-size:0.8rem;
    color: white;
    margin-right:1px;
}

.aligncenter {
    text-align: center;
    margin: 1em;
}
.aligncenter img {
    border: 2px solid;
}

.icon-white {
    color: white;
}