
endpoint=http://10.215.216.175:8080/portafib/common/rest/apifirmaasyncsimple/v2/

# Entorn NO CAIB
username=fundaciobit_rest
password=fundaciobit_rest

fitxerAFirmar.name=./testfiles/hola.pdf
fitxerAFirmar.mime=application/pdf

fitxerAAnnexar.name=./testfiles/annex.txt
fitxerAAnnexar.mime=text/plain

PROFILE=PROFILE_PADES

# Plantilla de Firmes (si aquesta està definida, no utilitza ni nifsDestinataris ni nifRevisor)
#plantillaDeFirmes=208694

# NIFs o usuariextern. 
# Firma en serie: separat per barra '|'
# Firma en paral.lel  Separats per coma ','

nifsDestinataris=123456789C
#nifsDestinataris=usuariextern.1, 43090000C | 12345678Z
#nifsDestinataris=usuariextern.2, 12345678Z

usuariextern.1.name=Inotna
usuariextern.1.surnames=Ladan Rasanneb
usuariextern.1.administrationid=123456789C
usuariextern.1.email=externaluser@externalfundation.org
usuariextern.1.language=ca

usuariextern.2.name=Anton
usuariextern.2.surnames=Trob
usuariextern.2.administrationid=43434343K
usuariextern.2.email=anton@externalfundation.org
usuariextern.2.language=es

# Revisor (s'afegirà a cada firma)
# nifRevisor=123456789C

# Esperar a que es firmi?
waittosign=true

# Baixar fitxer original?
downloadoriginalfile=true

# Esborrar peticio de Firma al final
deleteonfinish=false



