
pdf.source=./hola.pdf
pdf.dest=./hola_firmat.pdf

org.fundaciobit.example.plugins.signatureserver.portafib.api_passarela_url=http://localhost:8080/portafib/ws/v1/PortaFIBPassarelaDeFirmaEnServidor
org.fundaciobit.example.plugins.signatureserver.portafib.api_passarela_username=fundaciobit_usrapp
org.fundaciobit.example.plugins.signatureserver.portafib.api_passarela_password=fundaciobit_usrapp
