
test_host=http://localhost:8080/portafib/ws/v1/
# Indica si es un servidor CAIB (true) o no CAIB (false)
iscaib=false
test_usr=fundaciobit_app
test_pwd=fundaciobit_app

nifsDestinataris=11223344T,12345678Z

# En el cas d'ExempleMultiple crea el nombre de Threads indicat i cadascun un nombre de peticions.
#nombreThreads=20
#peticionsThread=50

# Si val true, es cridarà l'operació atòmica createAndStart.
# Sinó és cridarà create i després start
createAndStart=false

# Esperar a que es firmi?
waittosign=true

# Borrar peticio de Firma al final
deleteonfinish=false

# Si no es defineixen,l'aplicacio elegeix fitxers de dins del jar
#fitxerAFirmar=./hola.pdf
#fitxerAAnnexar=./annex.txt