<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>PortaFIB</display-name>
	<description>Back Office &amp; Front Office - PortaFIB</description>
  

	
	<!--  LISTENER -->
	<!-- 
	<listener>
      <listener-class>
            es.caib.portafib.back.utils.PortaFIBSessionListener
      </listener-class>
    </listener>
     -->
    <!--  Serveix per obtenir el HttpServletRequest en el AuthenticationSuccessListener -->
    <listener>  
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>  
    </listener>

	<!--  LOAD-ON-STARTUP SERVLET -->

	<servlet>
      <servlet-name>InitServlet</servlet-name>
      <servlet-class>es.caib.portafib.back.utils.InitServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <!--  ======  RECEPTOR DE PETICIONS DE PLUGIN DE FIRMA WEB ======== -->
    
  <servlet>
    <servlet-name>PluginCommonSignWebRequests</servlet-name>
    <servlet-class>es.caib.portafib.back.controller.common.SignatureModuleController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PluginCommonSignWebRequests</servlet-name>
    <url-pattern>/common/signmodule/requestPlugin/*</url-pattern>
  </servlet-mapping>
  
  <!--  ===  RECEPTOR DE PETICIONS DE PLUGIN DE FIRMA WEB VIA PASSARELA === -->
  
  <servlet>
    <servlet-name>PluginPublicSignWebRequests</servlet-name>
    <servlet-class>es.caib.portafib.back.controller.common.SignatureModuleControllerPublic</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PluginPublicSignWebRequests</servlet-name>
    <url-pattern>/public/signmodule/requestPlugin/*</url-pattern>
  </servlet-mapping>
  
  
  <!--  ======  GENERADOR DE SEGELLAT DE TEMPS PER FIRMA EN SERVIDOR ======== -->

  <servlet>
    <servlet-name>TimeStampGeneratorPerFirmaEnServidorServlet</servlet-name>
    <servlet-class>es.caib.portafib.back.controller.common.TimeStampGeneratorPerFirmaEnServidorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TimeStampGeneratorPerFirmaEnServidorServlet</servlet-name>
    <url-pattern>/common/timestampgenerator/*</url-pattern>
  </servlet-mapping>  

  
  
    <!--  CONFIG GENERAL  -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Spring 3 Configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext-security.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>portafibback</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>portafibback</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Spring 3 UTF-8 Encoding -->
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring 3 tld's requerits en els jsp -->
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.springframework.org/tags</taglib-uri>
			<taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.springframework.org/tags/form</taglib-uri>
			<taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
		</taglib>
		<taglib>
		   <taglib-uri>http://www.springframework.org/security/tags</taglib-uri>
		   <taglib-location>/WEB-INF/tld/security.tld</taglib-location>
		</taglib>
		<taglib>
		   <taglib-uri>http://jakarta.apache.org/taglibs/unstandard-1.0</taglib-uri>
		   <taglib-location>/WEB-INF/tld/taglibs-unstandard.tld</taglib-location>
		</taglib>
	</jsp-config>

  <error-page>
    <error-code>401</error-code>
    <location>/indexcc.jsp?error=401</location>
  </error-page>

  <error-page>
		<error-code>404</error-code>
		<location>/error.jsp?errortype=404</location>
	</error-page>

   <error-page>
		<error-code>403</error-code>
		<location>/error.jsp?errortype=403</location>
	</error-page>

	<error-page>
        <exception-type>es.caib.portafib.back.security.LoginException</exception-type>
        <location>/error.jsp?errortype=-1</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
 
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>portafib_back-public</web-resource-name>
            <url-pattern>/carrecscaib/*</url-pattern>
            <url-pattern>/error.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/indexcc.jsp</url-pattern>
            <!-- Plugins de Firma -->
            <url-pattern>/common/signmodule/*</url-pattern>
            <!-- Passarela de Firma PortaFIB No-Autenticada i REST -->
            <url-pattern>/public/*</url-pattern>
            <!-- GENERADOR DE SEGELLAT DE TEMPS PER FIRMA EN SERVIDOR -->
            <url-pattern>/common/timestampgenerator/*</url-pattern>
            <!-- Usuaris Externs: Login per TOKEN -->
            <url-pattern>/common/externaluser/*</url-pattern>
            <url-pattern>/common/plantilla/viewonlyflux/*</url-pattern>
            <url-pattern>/common/arxiu/*</url-pattern>
            <!--  REST Autenticació per Codi -->
            <url-pattern>/common/rest/apifirmaenservidorsimple/v1/*</url-pattern>
            <url-pattern>/common/rest/apifirmawebsimple/v1/*</url-pattern>
            <url-pattern>/common/rest/apiexternalsignature/v1/*</url-pattern>
            <url-pattern>/common/rest/revisordefirma/*</url-pattern>
            <url-pattern>/common/rest/apiflowtemplatesimple/v1/*</url-pattern>
            <url-pattern>/common/json/usuarientitatrevisor</url-pattern>
            <!-- Nova API REST ASYNC V2 -->
            <url-pattern>/common/rest/apifirmaasyncsimple/v2/*</url-pattern>

        </web-resource-collection>
        <!-- No auth-constraint means everybody has access! -->
    </security-constraint>
	
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>portafib_back-common</web-resource-name>
            <url-pattern>/common/*</url-pattern>
            <url-pattern>/canviarPipella/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PFI_USER</role-name>
            <role-name>PFI_ADMIN</role-name>
            <role-name>tothom</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>portafib_back-user</web-resource-name>
            <url-pattern>/soli/*</url-pattern>
            <url-pattern>/dele/*</url-pattern>
            <url-pattern>/cola/*</url-pattern>
            <url-pattern>/revi/*</url-pattern>
            <url-pattern>/aden/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PFI_USER</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>portafib_back-dest</web-resource-name>
            <url-pattern>/dest/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PFI_USER</role-name>
            <role-name>tothom</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>portafib_back-admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/webdb/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PFI_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

	<login-config>
		<auth-method>${webXml.authMethod}</auth-method>
		<realm-name>Govern de les Illes Balears</realm-name>
	</login-config>

	<security-role>
		<description>Administrador de PortaFIB</description>
		<role-name>PFI_ADMIN</role-name>
	</security-role>

	<security-role>
		<description>Usuari de PortaFIB</description>
		<role-name>PFI_USER</role-name>
	</security-role>
    
    <security-role>
        <description>Apareix Opció AutoFIRMA de PortaFIB</description>
        <role-name>PFI_AUTOFIRMA</role-name>
    </security-role>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

  <filter>
    <filter-name>ClientCertAuthentication</filter-name>
    <filter-class>es.caib.portafib.back.security.ClientCertAuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ClientCertAuthentication</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  
  <filter>
    <filter-name>deviceResolverRequestFilter</filter-name>
    <filter-class>org.springframework.mobile.device.DeviceResolverRequestFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>deviceResolverRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
              

</web-app>
