
# Passord del keystore.p12 general per identificar-se davant altres serveis
es.caib.portafib.keystore.password=xxxx
# Passord del keystore-sia.p12 per identificar-se davant SIA
es.caib.portafib.keystore-sia.password=xxxx

# Nom d'usuari per accedir al servei de @firma federat (signatura en servidor, upgrade i validació)
es.caib.portafib.afirma.username=PORTAFIB
# Password per accedir al servei de @firma federat
es.caib.portafib.afirma.password=PORTAFIB

# Identificador d'usuari per accedir al servei de VIAFirma Fortress
es.caib.portafib.fortress.client_id=portafib
# Passowrd per accedir al servei de VIAFirma Fortress
es.caib.portafib.fortress.client_secret=xxxxxx