
# Passord del keystore.p12 general per identificar-se davant altres serveis
keystore.password=xxxx
# Passord del keystore-sia.p12 per identificar-se davant SIA
keystore-sia.password=xxxx

# Nom d'usuari per accedir al servei de @firma federat (signatura en servidor, upgrade i validació)
afirma.username=PORTAFIB
# Password per accedir al servei de @firma federat
afirma.password=PORTAFIB

# Identificador d'usuari per accedir al servei de VIAFirma Fortress
fortress.client_id=portafib
# Passowrd per accedir al servei de VIAFirma Fortress
fortress.client_secret=xxxxxx